<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
</head>
<body>
<h2>Категории отелей </h2>
<p th:each="category: ${categories}">
    <a th:href="@{/category/{category}(category=${category})}" th:text="${category}">Категория отеля </a>
</p>
<!--</form>-->
<!--<p th:each="type: ${types}">-->
<!--    <a th:href="@{/type/{type}(type=${type})}" th:text="${type}">тип</a>-->
<!--</p>-->

<h2>Каталог отелей</h2>

<table border="1" style="width:300px">
    <tr>
        <th>Наименование</th>
        <th>Категория отеля</th>
        <th> Описание отеля</th>

    <tr th:each="line : ${tab_hotels}">
        <td><a th:href="@{'/hotelinfoid?id='+ ${line.id}}"> <span th:text="${line.name}"/></a></td>
        <td><span th:text="${line.category}"/></td>
        <td>
            <a th:href="@{'/hotelinfoid?id='+ ${line.id}}"> Описание отеля </a>
        <td>
            <a th:href="@{'/deletehotel?id=' + ${line.id}}">Удалить отель </a>
        </td>
    </tr>
</table>
<br>
<form action="/addhotel" method="get">
    <input name="hotelname" placeholder="Введите название отеля" required>
    <br>
    <input name="category" placeholder="Введите категорию" required>
    <br>
    <input type="submit" value="Добавить отель">
    <!--    ваше имя <input name="username" required>-->
    <!--    <input type="submit" value="Отправить">-->
</form>
<br>
<form action="/findhotel">
    Введите название отеля для поиска <input name="name" checked="checked" required>
    <input type="submit" value="Искать">

<br>
 <h2 th:if="${nameFindHotel!=null}"><span th:text="${nameFindHotel}"></span>  </h2>
<p th:if="${categoryFindHOtel!=null}"><span th:text="${categoryFindHOtel}"> </span> </p>
</form>

</body>
</html>