<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Описание отеля </title>
</head>
<body>

<h2 contenteditable="true" th:if="${hotel!=null}"><span th:text="${hotel.name}"></span> имеет категорию </h2>
<h3 contenteditable="true" th:if="${hotel!=null}"><span th:text="${hotel.category}"> </span> </h3>
<p contenteditable="true" th:if="${hotel.img!=null}"> </p>
<img th:src="@{${hotel.img}}" width="500" height="auto">
<!--<p>NAME: <span th:text="${hotel.name}"></span></p>-->
<!--&lt;!&ndash;    <img th:src="@{/images/cat.jpg}" width="200" height="auto">&ndash;&gt;-->
<!--<p th:if="${hotel.jpg != null}">  <span th:text="${hotel.jpg}"></span>-->
<!--    <img th:src="@{${hotel.jpg}}" width="200" height="auto">-->
<!--</p>-->
<br>

<!--<button> отменить изменения </button>-->

<form action="/change" metod="post">
    <input name="hotelname" placeholder="Введите НОВОЕ название отеля" required>
    <br>
    <input name="category" placeholder="Введите НОВУЮ категорию" required>
    <br>
    <input type="submit" value="Изменить данные">
<br>
</body>
</html>

