<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Описание отеля </title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>

<div class="content" contenteditable th:if="${hotel!=null}"><span th:text="${hotel.name}"></span> имеет категорию </div>
<div class="content1" contenteditable th:if="${hotel!=null}"><span th:text="${hotel.category}"> </span> </div>
<div class="content2" contenteditable th:if="${hotel.img!=null}"><span th:text="${hotel.img}"> </span> </div>
<img th:src="@{${hotel.img}}" width="500" height="auto">

<br>
<form action="upload" method="post" enctype="multipart/form-data"></form>
<input type="file" name="xfile">
<input type="submit" value="Загрузить">

<!--<button> отменить изменения </button>-->
<!--<button> сохранить изменения </button>-->

<br>

