<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список отелей</title>
</head>
<body>

</body>
</html>

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список отелей</title>
</head>
<body>

<tr> Каталог товаров</tr>
<table border="1" style="width:300px">
    <tr>
        <th>Отель </th>
        <th> Категория </th>
        <th> Описание </th>

    <tr th:each="line : ${tab_hotels}">
        <td><<span th:text="${line.name}"/></td>
        <td><span th:text="${line.price}"/></td>
        <td>
            <a th:href="@{'/hotelinfo?id='+ ${line.id}}"> Описание отеля </a>
        <td>
            <a th:href="@{'/deletehotel?id=' + ${line.id}}">Удалить отель </a>
        </td>

    </tr>
</table>